@import "~bootstrap/scss/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')

$haBlue: #93daf8
*
  box-sizing: border-box

.master-container
  .header-container
    width: 100%
    padding: 1rem 2rem
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #121212

    .header-left
      .logo
        width: 10rem
        background: transparent

    .header-right
      background-color: #121212
      display: flex
      align-items: center

      .links
        color: #fefefe
        font-family: 'Lato', sans-serif
        transition: .3s
        margin-left: 3rem
        font-size: 1.1rem

        &:hover
          color: $haBlue
          text-decoration: none

      .contact-container
        display: flex
        align-items: center

        .phone-icon
          color: $haBlue
          font-size: 2rem
          margin-left: 3rem
          margin-right: 1rem

        .number-description
          display: flex
          flex-direction: column
          align-items: center
          .free-quote
            font-size: .8rem
            color: $haBlue
            margin: 0

          .phone-number
            margin-left: 0

  .slides-container

    .carousel-inner
      height: calc(100vh - 9rem)

    .carousel-indicators
      display: none
